.App {
    text-align: center;
}

.response {
    margin: 20px;
    font-size: 50px;
}

.letters_box {
    display: inline-grid;
    grid-template-columns: repeat(9, 1fr);
    align-content: center;
    margin: 10px;
}